.align-icon-center {
	display: flex;
	justify-content: center;
}

.display {
	display: block;
}

.hide {
	display: none;
}

span {
	display: block;
}

.password-tooltip {
	background: #5bc0de;
	border-radius: 25px;
	padding: 1px 4px;
	position: relative;
	left: 10px;
	position: relative;
	color: white !important;
}